# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DPP_Python\Projekt_GO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
